body {
    background: #07366d;
    font: normal 15pt Arial;
}

header {
    color: #d8d2d8;
    text-align: center; /* centralizou */
}

section {
    background: #d8d2d8;
    border-radius: 10px; /* bordas arredondadads */
    padding: 15px;
    width: 500px; /* largura fixa */
    margin: auto; /* centralizar */
    box-shadow: 5px 5px 10px #d51111; /* sombra embaixo */
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
div {
    text-align: center;
}